<div class="section-tutoring">
  <div class="container">

    <div class="page-heading">
      <h1>Tutoring</h1>
      <p class="sub">
        Mathematics tutoring, at school and university level.
      </p>
      <mat-divider class="divider"></mat-divider>
    </div>

    <div class="horizontal-flex" >
      <div class="books-info">
        <div class="vertical-flex">
          <div style="display: inline-block">
            <p>I offer tutoring services in mathematics and related subjects. Whether you're struggling with basic concepts or need help with advanced topics, I'm here to help you succeed in your academic journey.</p>
          </div>
          <div class="img-div">
            <img src="././assets/img/stokes-theorem3.png">
          </div>
        </div>
      </div>
    <!-- <div style="margin-bottom:3em;"> <app-contact-form></app-contact-form> </div> -->
  </div>
</div>

