<div class="section-about">
  <div class="container">
    <div class="page-heading"><h2>Nathanael Chwojko-Srawley</h2>
      <p>Mathematics PhD Student</p>
      <mat-divider class="divider"></mat-divider>
    </div>

    <!-- using row, col from bootstrap to create pic + About section grid -->
    <div class="flexx about-info mb-60">
      <div>
        <div class="about-img">
          <img
            src="././assets/img/nate-pic-cropped.png"
            alt="Profile Picture"
          />
        </div>
      </div>

      <div>
          <div>
          <h3 class="mb-20">Hi there!</h3>
            <p>
              I'm Nathanael Chwojko-Srawley. I am probably best known for being a little too possessed by my curiosity, being
              interested in almost every discipline I studied and settling for mathematics for its endless ability to provide
              fascinating ideas. Before mathematics, I would have labeled myself a programmer and a philosopher, writing books on my philosophical musings (a habit I converted into my mathematical career).
            </p>

            <p>
              I firmly decided to pursue mathematics after being a software developer for a year. Software development was a natural
              path for me as I have been programming for years and loved the feeling of the world being "open" to you if you knew how
              to code and the infrastructure of comptuers. I had the incredible opportunity to join a very talented team and was
              trusted to work on some amazing projects that touched on so many fields of computer science. But it was this experience
              away from mathematics that made me realize just how much I missed it, and so I decided I must give a fair shot at
              pursuing it. This still felt like a compromise to my multitude of other interests; however, I am fortunate that
              mathematics fractals into a myriad of fields, each promising a lifetime of interesting content.
            </p>

            <p>
              Choosing a specific field of mathematics to study was challenging. To
              make my decision, I decided to take as many mathematics courses as I
              could in my undergraduate (running out of time for combinatorics, set
              theory, and classical/simplicial geometry) and did research projects in
              different fields of mathematics during the summer; one in representation
              theory, one in non-linear wave equations, and one in riemann geometry. My experience
              was always positive, and to coalesce my interests as much as possible, I
              decided to pursue algebraic geometry. I am currently drawn towards Hodge
              Theory, Anabelian Geometry, and Elliptic Curves, but I have yet to dive into enough topics to
              be sure I will end up researching within these fields.
            </p>

            <p>
              My free time is split between math and non-math hobbies. For my
              mathematical hobbies, I love to read through various textbooks and
              papers. When inspiration strikes, I write essays on intuitions I've
              gained (blog section <a routerLink="../blog" style="text-decoration: none;">here</a>!). I try to
              compile all I've learned in a series of textbooks called <em>Everything
                you need to know about</em> (EYNTKA) (<strong><a
                  routerLink="../books">click here</a></strong>), and for standalone
              projects I write down what I've learned in notes (<strong><a
                  routerLink="../notes">click here</a></strong>).
            </p>

            <p>
              Outside of math, I am a big fan of sports and enjoy swimming and martial arts. I also enjoy playing Beat Saber, my
              profile can be found <b><strong><a
                    href="https://beatleader.xyz/u/304451/scores/stars/desc/1">here</a></strong></b>.
              I like to occasionaly play the piano, and am a big music fan; a complitation of my favourites
              can be found <b><strong><a
                    href="https://stats.fm/user/vy1o0akx2r8zsrp0r18eh2dhi?range=lifetime">
                    here</a></strong></b>.I aim to
              learn a new language every 5 years starting with Japanese and Mandarin, then proceed towards some of the most popular
              languages. I still greatly enjoy philosophy, having read many of the
              classical (global) canon books, and
              would love to find the time to read more recent texts.
            </p>

            <p>
              Though my software developer days are behind me, I maintain some neovim tooling (repo to my
              dotfiles can be found <b><strong><a routerLink="../programming"
                style="text-decoration: none;">this link</a></strong></b>). With the
              boom of AI, I hope to gain a deeper intuition on my beliefs about the limits of what it can achieve and want to make
              public a few AI projects in the coming future.
            </p>

            <p>
              I am generally a social person, so please feel free to approach me if
              you see me at a conference!
            </p>

            <p>
              Feel free to contact me via <b><strong><a routerLink="../contact"
                style="text-decoration: none;">this link</a></strong></b>!
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
