@use 'src/sass/variables';
@use 'src/sass/mixins';
@use 'src/sass/grid';
.footer {
  color: #666262;
  margin:0%;
  text-align: center;
  // padding-bottom: 1em ;
  width:100%;
}

.footer-divider{
  margin-top:2em;
  border-top-color:#434040;
  border-top-width:0.3px;
  padding-bottom:1em;
}

.footer p{
  font-size: 12px;
  padding-bottom:1em;
}

// Mobile styles
@media (max-width: 768px) {
  .footer-divider {
    margin-top: 0.5em;
    padding-bottom: 0.1em;
  }

  .footer p {
    font-size: 10px;
    padding-bottom: 0.2em;
  }
}
